<div class="flex flex-col">
  <div class="my-5 flex flex-col border-2">
    <div
      class="py-5 prose min-w-full text-center border-2 border-indigo-300"
      *ngIf="hideRooms"
    >
      <h2>
        We have
        <span class="text-indigo-800 animate-pulse">{{ numberOfRooms }}</span>
        rooms!
      </h2>
    </div>
  </div>
  <div class="mt-5 flex justify-center">
    <button
      type="button"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
      (click)="toggle()"
    >
      <p class="text-lg">
        {{ hideRooms ? "Hide Rooms" : "Show Rooms" }}
      </p>
    </button>
  </div>
</div>
<app-add-room
  *ngIf="hideRooms"
  (onAddNewRoom)="addNewRoom($event)"
  [numberOfRooms]="numberOfRooms"
></app-add-room>
<app-rooms-list
  [rooms]="roomList"
  (selectedRoom)="selectRoom($event)"
></app-rooms-list>
